.gradle
/build
/out

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/.idea/

*.wav

# JavaScript project ignored paths
js/.nyc_output
js/coverage
js/node_modules
js/out
js/tsconfig.tsbuildinfo
